[submodule "shared"]
	path = shared
	url = git@github.com:tele-medic/shared.git
[submodule "services/session"]
	path = services/session
	url = git@github.com:tele-medic/session-service.git
[submodule "services/gateway"]
	path = services/gateway
	url = git@github.com:tele-medic/api-gateway.git
