[submodule "shared"]
	path = shared
	url = git@github.com:tele-medic/shared.git
[submodule "services/session"]
	path = services/session
	url = git@github.com:tele-medic/session-service.git
[submodule "services/gateway"]
	path = services/gateway
	url = git@github.com:tele-medic/api-gateway.git
[submodule "services/turn"]
	path = services/turn
	url = git@github.com:tele-medic/turn-server.git
[submodule "services/webhook"]
	path = services/webhook
	url = git@github.com:tele-medic/webhook-service.git
[submodule "services/recording"]
	path = services/recording
	url = git@github.com:tele-medic/recording-service.git
